{% extends 'base.html' %}
{% block content %}

    <h1>Decor Details</h1>

    <div class="row">
    <div class="col s6 col-offset-3">
        <div class="card">
        <div class="card-content">
            <span class="card-title">{{ decor.name }}</span>
            <p>Color: {{ decor.color }}</p>
            <p>Living: {{ decor.living }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'decor_update' decor.id %}">Edit</a>
            <a href="{% url 'decor_delete' decor.id %}">Delete</a>
        </div>
        </div>
    </div>
    </div>
    
{% endblock %}